<header>
  <img
    src="assets/img/xuxu.jpg"
    alt="Lorraine Ferreira - Foto do perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h2>Xuxu Ferreira Silva</h2>
</header>

<aside>
  <div class="container">
    <p></p>
    <p></p>
    <p></p>
    <nav>
      <ul>
        <li>
          <a href="" target="_blank" class="btn btn-primary">Download CV </a>
        </li>
        <li>
          <a href="" target="_blank" class="btn btn-secondary">LinkedIn</a>
        </li>
      </ul>
    </nav>
    <section style="background-color: green">
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Icone para contato com o Whatsapp"
          width="22"
          height="24"
        />
        <figcaption>
          <a href="https://wa.me/5531991075717?text=Ol%C3%A1,%20preciso%20de%20um%20job!" target="_blank"
            ><strong
              >Envie uma mensagem para
              <p>Whatsapp: (31) 99159-1951</p></strong
            ></a
          >
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Icone para contato com o email"
          width="22"
          height="24"
        />
        <figcaption>
          <a href="mailto:rainne.silva@hotmail.com" target="_blank"
            ><strong
              >Envie um e-mail para
              <p>Email: rainne.silva&#64;hotmail.com</p></strong
            ></a
          >
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
